<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="https://glitch.com/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{{seo.title}}</title>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    
    <!-- Compressed CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.4/dist/css/foundation.min.css" crossorigin="anonymous">
    <style type="text/css">
      <!--
      dl.userinfo{
        display: -webkit-flex;
        display: -moz-flex;
        display: flex;
        display:none;
        flex-wrap: wrap;
        align-items: stretch;	
        width: 100%;
        padding:10px;
      }
      dl.userinfo dt{
        position:relative;
        padding: 5px;
        width: 100%;
      }
      
      dl.userinfo dt::after {
        display: block;
        content: '';
        position: absolute;
        top: 0.8em;
        left: -0.5em;
        width: 6px;
        height: 6px;
        background-color: #3498db;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }
      
      dl.userinfo dd{
        position:relative;
        background: #fff;
        padding: 5px;
        width: 100%;
      }
      -->
    </style>
  </head>
  <body>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script>
      {{#if post}} 
      $(document).ready(function(){
        $(function(){
          
                  $('dl').fadeIn(7000);
          let url='https://entake.glitch.me/getuser/{{post.username}}';
          setTimeout(function(){
            $.get(url,'',null,'json')
              .done(function(ret,ts,jqXHR){
                  $('#streampage').attr('href','{{post.streambaseurl}}'+ ret["url"]);
                }
              );
          },5000);
        });
      });
      {{/if}}
    </script>
    <div class="grid-container">
      <form method="post">
      <div class="grid-x">
        <div class="cell small-4 medium-4 large-4 small-offset-4 medium-offset-4 large-offset-4">
          登録。
        </div>
      </div>
      {{#if get}}
      <div class="grid-x">
        <div class="cell small-4 medium-4 large-4 small-offset-4 medium-offset-4 large-offset-4 align-center">
          <input class="expanded" type="text" id="username" name="username"　maxlength="15" pattern="^[a-zA-Z0-9]+$" placeholder="半角英数字15文字以内" required >
          <input type="submit" id="user" name="user" value="登録" class="expanded primary button">
        </div>
      </div>
      {{/if}}
      {{#if post}} 
      <div class="grid-x">
        <div class="cell small-4 medium-4 large-4 small-offset-4 medium-offset-4 large-offset-4">
          <dl class="userinfo">
            <dt class="userinfo">ユーザー名</dt><dd>{{post.username}}</dd>
            <dt class="userinfo">賑やしボタン</dt><dd><a id="audiencepage" href="{{post.buttonpage}}" target="_blank">賑やかしページリンク</a></dd>
            <dt class="userinfo">シーンパス</dt><dd><a id="streampage" target="_blank">シーンページリンク</a></dd>
          </dl>
        </div>
      </div>
      {{/if}}
      </form>
    </div>
  </body>
</html>